@model StudentCourses.ViewModels.StudentViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @DisplayExtensions.DisplayFor(Html, model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stipend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stipend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeStipend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeStipend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Courses)
        </dt>

       


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
