@model IEnumerable<StudentCourses.ViewModels.StudentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>StudentViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stipend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stipend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeStipend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeStipend)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
