@*@model Data.Models.Student*@
@model Data.ViewModels.StudentsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stipend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stipend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeStipend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeStipend)
        </dd>
        
        <dd>
            @foreach (var item in Model.Courses)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
